<div class="listing_container">
  <ul>
    <li class="album_listing">


        <img src="images/cashmere.jpg" alt="Swet Shop Boys Cashmere Album Cover">



      <h2>Cashmere</h2>
      <h3>Swet Shop Boys</h3>
    </li>
  </ul>
</div> <!-- /.listing_container -->
