<div class="listing_container">
  <div class="listing_header">
    <span>hot right now</span>
  </div>

  <ul>
    <li class="album_listing">
      <img src="images/cashmere.jpg" alt="Swet Shop Boys Cashmere Album Cover">
      <h2>Cashmere // Swet Shop Boys</h2>
      <p>88% Sizzle</p>
      <p>Hip Hop/Rap</p>
      <p>Consensus: Genre-defying hip hop from the guy you've grown to love on TV</p>
      <div id="release_date">3/17</div>
    </li>
    <li class="album_listing">
      <img src="images/cashmere.jpg" alt="Swet Shop Boys Cashmere Album Cover">
      <h2>Cashmere // Swet Shop Boys</h2>
      <p>88% Sizzle</p>
      <p>Hip Hop/Rap</p>
      <p>Consensus: Genre-defying hip hop from the guy you've grown to love on TV</p>
      <div id="release_date">3/17</div>
    </li>
  </ul>

</div> <!-- /.listing_container -->
