<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>sizzlechart</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  </head>
  <body>
    <header>
      <h1>sizzlechart</h1>
      <p>good/bad music</p>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>

    </footer>
  </body>
</html>
